header, nav {
    background-color: #FD739C;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 22px;
    line-height: 34px;
}