header, nav {
    background-color: #FD739C;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 22px;
    line-height: 34px;
}

#first-section {
    margin-top: 10px;
    padding: 5px;
}

#second-section {
    padding: 5px;
}

h1 {
    margin-top: 0;
}